<%- include('template/header') %>

<div class="text-center mt-4">
    <button type="button" class="btn btn-secondary">ทั้งหมด</button>
<button type="button" class="btn btn-secondary">ยังไม่ดำเนินการ</button>
<button type="button" class="btn btn-secondary">กำลังดำเนินการ</button>
<button type="button" class="btn btn-secondary">เสร็จสิ้น</button>
</div>

<h1 class="text-center mt-4">หน้าประวัติการแจ้งซ่อม</h1>

<%- include('template/footer') %>