<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    

</head>

<body>

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" style="height: 40px;" alt="Logo">
      </a>

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= (activePage === 'home') ? 'active' : '' %>"" href="/user/home">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (activePage === 'form') ? 'active' : '' %>" href="/user/form">แจ้งซ่อม</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (activePage === 'history') ? 'active' : '' %>" href="/user/history">ประวัติการแจ้งซ่อม</a>
        </li>
      </ul>

      <div class="d-flex">
        <div class="dropdown">
          <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user me-3" style="color: #ffffff;"></i>
            <i class="fas fa-angle-down me-3" style="color: #ffffff;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/profile">โปรไฟล์</a></li>
            <li><a class="dropdown-item" href="/logout">ออกจากระบบ</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>

  
